@font-face {
    font-family: 'HindRegular';
    src: url('../fonts/HindRegular/HindRegular.eot');
    src: url('../fonts/HindRegular/HindRegular.woff')
    format('woff'), url('../fonts/HindRegular/HindRegular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal-Bold';
    src: url('../fonts/Montreal/Montreal-Bold.eot');
    src: url('../fonts/Montreal/Montreal-Bold.woff')
    format('woff'), url('../fonts/Montreal/Montreal-Bold.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('../fonts/Montreal/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	background-color: #f9f9fb;
	color: #363636;
}
.wrapper{
	width: 50%;
	min-width: 1200px;
	max-width: 1900px;
	margin: auto;
	text-align: center;
	position: relative;
}
.position{
	min-width: 1200px;
	max-width: 1900px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}
.clear:before, .clear:after {
	content:" ";
    display: table;
}
.clear:after{
	clear: both;
}
.notFound{
	margin-bottom: 30px;
}
.bigNumber{
	font-family: 'Montreal-Bold';
	font-size: 300px;

}
.nothingFound {
    width: 46%;
    position: absolute;
    font-family: 'HindRegular';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 12px;
    text-transform: uppercase;
    background-color: #fff;
    left: 27%;
    top: 32.4%;
}
.search{
	width: 65%;
	margin: auto;
}
.search_block {
	outline: 0;
	border: 1px solid #cccccc;
    padding: 2px 20px;
    float: left;
    font-family: 'HindRegular';
    font-size: 14px;
    line-height: 44px;
    width: calc(100% - 214px);
}
.search_logo{
	float: left;
	width: 170px;
	height: 50px;
	border:0;
	outline: 0;
	background-color: #363636;
	color: #fff;
	font-family: 'Montreal-Bold';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
h3, h5{
	font-family: 'Montreal-Bold';
	text-align: center;
	letter-spacing: 1px;
}
h3{
	margin-top: 40px;
	color: #363636;
	font-size: 30px;
}
h5{
	margin-top: 10px;
	color: #999999;
	font-size: 14px;
}
.back{
	margin-top: 20px;
}
.back i, .back a{
	display: inline-block;
}
i{
	color: #999999;
	font-size: 18px!important;
	margin-right: 8px;
}
a{
	text-decoration: none;
	color: #363636;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
}